body /*toute la page*/
{
	background-color:white; 
	width:80%;
	border-right: 2px solid rgb(252, 187, 8);
	margin:auto;
	display: flex;
	height: auto;
	font-family: sans-serif;
	flex-direction: column;
}



header /*contient la photo le nom et la profession*/
{
	width: 100%;
	display: flex;
	display:row;
}

.photo{
	width:30% ;
	background-color: rgb(252, 187, 8);
}

header .photo img{
	
	width: 170px;
	height: 170px;
	margin:15%;
	border:1px solid rgb(252, 187, 8);
	border-radius: 50%;
}

.identité{
	width: 65%;
}




section /*contient deux sections côte à côte*/
{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.section1{
	display:flex;
	flex-direction: column;
	width: 30%;
	height:auto;
	background-color: rgb(252, 187, 8);
}


h2 /*tous les titres de gauche*/
{
	text-align: center;
	background-color:black;
	border:2p solid black;
	color:rgb(252, 187, 8);
	font-size: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
	font-family: sans-serif;
	
}

p{
	margin-left: 10%;
	margin-right: 10%;
}

.element1{
	font-size: 17px;
}

.adresse,.téléphone, .mail, .web{
	padding-bottom: 2%;
	margin-left: 10%;
}

.skype{
	margin-left: 10%;
}

.element2{
	font-size: 17px;
	text-align: justify;
	height: 33%;
}

.strong{
	text-align: justify; font-weight:bold; font-size: 20px;
}

.element3{
	text-align: center;
	font-size: 17px;
}

.element3 img{
	width: 20%;
	padding:1%;
	margin:1%;
	margin-top: 2%;
}


/*partie de droite bloc2 en vertical----------------------------------------*/
#section2
{
	display:flex;
	flex-direction: column;
	width: auto;
	width: 65%;	
	
}

h1 /*Nom*/
{
	font-size:2.2rem; margin-left: 8%;
	margin-top: 10%;
	font-family:Source Code Pro Extralight;

}
span /*prénom*/
{
	font-family:Bradley Hand ITC;
	color:rgb(252, 187, 8);
	font-size: 2.8rem;
	font-weight: bold;
}

h3/*Profession*/
{

	margin-left: 8%;
	font-size: 1.4em;
	font-family: Bahnschrift T 18,'Times New Roman';
	margin-bottom: 10%;
}

.titre_souligné /*titres formation expériences recommandations*/
{
	border-bottom: 3px solid rgb(252, 187, 8);
	width: 80%;
	margin:auto;
	padding-top: 7px;
	display:flex;
	flex-direction: row;
}


.titre_souligné i{
	margin-left: 2%;
	color:rgb(252, 187, 8);
	width: 5%;
	padding-top: 6%;
} 

h4{
	margin-left: 8%;
	font-size: 1.5em;
	color:black;
	font-family: 'Times Nex Roman';
	padding-bottom: 0px;
}


.ligne1 /*contient la puce les années et le texte*/
{
	display: flex;
	flex-direction: row;
	padding-top: 12px;
	margin-left:10%;

}
.ligne2
{
	display: flex;
	flex-direction: row;
	padding-bottom: 15px;
	margin-left: 10%;

}
.ligne3
{
	display: flex;
	flex-direction: row;
	margin-left:10%;
}

.element_puce
{
	margin-top: 22px;
}

.element_année
{
	font-size: 20px;
	width: 20%;
}

.element_texte
{	
	width: 65%;
	font-size: 20px;
	margin-left: 5%;
}
.recommandations /*deux elements côte à côte*/
{
	display: flex;
	flex-direction: row;
	font-size: 20px;
	
}
.texte1, .texte2{
	padding-bottom: 8%;
	margin-left: 5%;
	width: 40%;
}


em
{
	font-weight: bold;
}

				/*responsive*/
	
@media all and (max-width : 1024px)	/*tous les écrans de taille inférieure à 1024ps*/

{
	body
	{
	
	width: 98%;
	display:flex;
	flex-direction: column;
	border:none;
	
	}
	
	header
	{
	width: 100%;
	display: flex;
	display:row;
	}

	.photo
	{
	background-color: white;	
	}

	header .photo img{
	
	width: 70px;
	height: 70px;
	margin:15%;
	border:1px solid rgb(252, 187, 8);
	border-radius: 45%;
	
	}
	
	section
	{
		display: flex;
		flex-direction:column;
	}
	.section1 /*premier bloc elements direction colonne*/
	{
		display:flex;
		width: 100%;
	}
	
	
		
	h2 /*tous les titres*/
	{
		text-align: center;
		background-color: rgb(252, 187, 8);
		font-size: 1em;
		color:black;
		width: 100%;
	}
	
	.element1
	{
		background-color: rgb(252, 187, 8);
		font-size: 1em;
		width: 100%;
		display:flex;
		flex-wrap: wrap;	
	}
	.adresse{
		margin-right: 14%;
	}
	
	
	
	.element2
	{
		background-color: rgb(252, 187, 8);
	}

	.element2 p{
		text-align: justify;
		font-size: 1em;
	}
	
	
	
	.strong
	{
		text-align: justify; font-weight:bold; 
		font-size: 1em;
	}
	
	.element3
	{
	
		display:none;
	}	
	.element4
	{
		text-align: justify;
		background-color: rgb(205, 202, 241);
		height: auto;
	}	
	
	
	
	/*--------------------------------------------*/
	#section2 /*deuxième bloc en colonne sauf les textes de recommandation*/
	{
		display:flex;
		flex-direction: column;
		width:100%;
	
	}

	
	h1 /*Nom*/
	{
	font-size:2.2rem; margin-left: 8%;
	margin-top: 10%;
	font-family:Source Code Pro Extralight;

	}

	.titre_souligné /*titres formation expériences recommandations*/
	{
	
	border-bottom: 3px solid rgb(252, 187, 8);
	width: 80%;
	margin: auto;
	padding-top: 6px;
	display:flex;
	flex-direction: row;
	}
	
	h4{
		padding-left: 5%;
		font-size: 1rem;
	}
	.titre_souligné i
	{
		margin-top: 2%;
	}
	
	.ligne1
	{
		display: flex;
		flex-direction: row;
		padding-bottom: 2%;
		margin-left:10%;
	}
	
	.ligne2
	{
		display: flex;
		flex-direction: row;
		padding-bottom: 2%;
		margin-left:10%;
	}

	.ligne3
	{
		display: flex;
		flex-direction: row;
		padding-bottom: 2%;
		margin-left:10%;

	}

	.element_puce
	{
		width: 18%;
		height: 18%;
	}

	.element_année
	{
		margin-left: 5%;
	}

	.element_texte
	{
		
		margin-left: 5%;
	}
	.recommandations
	{
		display: flex;
		font-size: 1.1em;
		
	}
	
	
	em
	{
		font-style: italic;
		
	}

	p
	{
		font-size: 0.6em;
	}
	

		
}


	



